nav
    span
        a([routerLink]="['./home']") 
            | 
            i.fa.fa-home 
            | FORSIDEN 
    span
        a([routerLink]="['./requirements']")
            i.fa.fa-info-circle 
            | OM OPGAVEN
            
router-outlet