.requirements-wrapper
    ul
        li Der skal være en liste over kontaktpersoner oprettet i systemet.
            i.fa.fa-check-square-o.fa-2x
        li Man skal kunne vælge en kontaktperson og se detaljer for vedkommende.
            i.fa.fa-check-square-o.fa-2x
        li Man skal kunne oprette en ny kontaktperson
        li Hver kontaktperson skal kunne have tilføjet nogle kompetencer. En kontaktperson kan godt have flere kompetencer tilknyttet.
            i.fa.fa-check-square-o.fa-2x
        li Når man ser listen over kontaktpersoner skal det være muligt at filtrere listen, så man kun ser de kontakter, der har en specifik kompetence. 
            i.fa.fa-check-square-o.fa-2x
        li Der skal være en statustekst når man filtrerer listen. Statusteksten skal  være ”Viser X personer med kompetencen Y. Totalt antal personer i databasen: Z”, hvor X er antallet af personer, der har den valgte kompetence. Y er navnet på den valgte kompetence. Z er det totale antal af kontaktpersoner i databasen.
            i.fa.fa-check-square-o.fa-2x
        li Da der ikke er nogen backend skal indtastede kontaktpersoner gemmes i localstore, så de består når siden genindlæses.
            i.fa.fa-check-square-o.fa-2x


