@keyframes fade
    0%
        opacity: 0
    100%
        opacity: 1
.requirements-wrapper
    width: 500px
    min-height: 600px
    background-color: whitesmoke
    display: flex
    align-items: center
    flex-direction: column
    ul
        animation: fade 0.5s 0.5s ease-in-out forwards
        opacity: 0
        width: 80%
        li
            display: flex
            align-items: center
            padding: 5px
            i
                padding-left: 20px
                color: tomato
