doctype html
.home-wrapper
    .search-wrapper
        input(#lol, (keyup)="onSearch(lol.value)", placeholder="Søg i kontakter...")
    .list-wrapper
        .list-item(*ngFor="let item of filteredContacts", (click)="itemClicked(item)", [class.active]="activeItem === item", [class.notActive]="activeItem !== item")
            //- her burde man lave en ny component og sende et object med som input
            .item
                .id {{item.id}}
                .name {{item.name}}
                i.fa([class.fa-chevron-right]="activeItem !== item", [class.fa-chevron-down]="activeItem === item")
            .skill-wrapper([class.skill-active]="activeItem === item")
                .skills 
                    i.fa.fa-lightbulb-o 
                    .title SKILLS
                .skillproperty
                    .prop(*ngFor="let property of item.skills") {{property}}
            